<div class="col-md-12">
	<h1>{{organization.name}}</h1>
	<p>{{organization.snippet}}</p>
</div>
<div class="col-md-12">
	<div class=row>
		<div class="col-xs-4 col-sm-3 col-md-1">
			<div class="thumbnail">
				<img ng-src="{{organization.image}}">
			</div>
		</div>
		<div ng-controller="profileEditor" class="col-xs-8 col-sm-9 col-md-11">
			<form editable-form name="editableForm" onaftersave="saveOrganization()">
				
				<div class="row pad-above" ng-repeat="url in organization.urls track by $index">
					<!-- editable list of URLs -->
					<div class="col-xs-5 col-sm-3 col-md-1"><span class="pull-right">URL</span></div> 
					<div class="col-xs-7 col-sm-9 col-md-11" editable-text="organization.urls[$index]" e-name="url" e-required>{{url}}</div>
				</div>

				<div class="row pad-above">
					<!-- editable client ID -->
					<div class="col-xs-5 col-sm-3 col-md-1"><span class="pull-right">Client ID</span></div> 
					<div class="col-xs-7 col-sm-9 col-md-11" editable-text="organization.client_id" e-name="client_id" e-required>{{organization.client_id}}</div>
				</div>

				<div class="row pad-above">
					<!-- editable client secret -->
					<div class="col-xs-5 col-sm-3 col-md-1"><span class="pull-right">Client Secret</span></div> 
					<div class="col-xs-7 col-sm-9 col-md-11" editable-text="organization.client_secret" e-name="client_secret" e-required>{{organization.client_secret}}</div>
				</div>

				<div class="row buttons pad-above">
					<div class="col-xs-5 col-sm-3 col-md-1"></div>
					<div class="col-xs-7 col-sm-9 col-md-11">
						<!-- button to show form -->
						<button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">Edit</button>
						<!-- buttons to submit / cancel form -->
						<span ng-show="editableForm.$visible">
							<button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Save</button>
							<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="text-center pad-above">
	<button ng-click="toggle()">Get most recent Google API results
	</button>
	<p ng-show="visible">Not built yet</p>
</div>

