
<div class="row">

	<div class="col-xs-2 col-sm-2 col-md-2">
		<div class="thumbnail">
			<img ng-src="{{description.image}}" />
		</div>
	</div>

	<div class="col-xs-10 col-sm-10 col-md-10">

		<h2>{{description.name}}</h2>
		<div class="row pad-above">
			<div class="col-sm-12 col-md-4">
				<p class="input-group">
          <input type="text" class="form-control" date-disabled="disabled(date, mode)" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup.opened" datepicker-options="{minDate: minDate, maxDate: maxDate, formatYear: 'yy', startingDay: 1}" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
			</div>
			<div class="col-sm-12 col-md-8">
				<a href ng-click="getResults()" class="btn btn-primary"><i
					class="fa fa-pie-chart"></i> Visualize</a> <a href
					ng-click="downloadData()" class="btn btn-primary"><i
					class="fa fa-download"></i> Download</a>
			</div>
		</div>
	</div>

</div>

<div class=row>

	<div class="col-sm-12 col-md-6">
		<div class="well">
			<h3>Sites to Analyze</h3>
			<form editable-form name="editSites" onaftersave="saveSites()">
				<h4>URLs:</h4>
				<div ng-repeat="url in description.urls track by $index">
					<span editable-text="description.urls[$index]" e-name="url"
						e-required>{{url}}</span>

					<a ng-show="editSites.$visible" href ng-click="addUrl()" class="btn btn-primary"><i
					class="fa fa-plus-circle"></i></a>
					<a ng-show= "$index > 0 && editSites.$visible" href ng-click="removeUrl($index)" class="btn btn-danger"><i
					class="fa fa-minus-circle"></i></a>

				</div>
				<div class="buttons pad-above">
					<!-- button to show form -->
					<button type="button" class="btn btn-default"
						ng-click="editSites.$show()" ng-show="!editSites.$visible">Edit</button>
					<!-- buttons to submit / cancel form -->
					<span ng-show="editSites.$visible">
						<button type="submit" class="btn btn-primary"
							ng-disabled="editSites.$waiting">Save</button>
						<button type="button" class="btn btn-default"
							ng-disabled="editSites.$waiting" ng-click="editSites.$cancel(); cancelEdit()">Cancel</button>
					</span>
				</div>
			</form>
		</div>
	</div>

	<div class="col-sm-12 col-md-6">

		<div class="well">
			<h3>Google Search Console Credentials</h3>
			<div class="alert alert-info" role="alert">
				<strong>Warning! </strong>Do not share your Client ID and Secret
				with others!
			</div>
			<form editable-form name="editSecrets" onaftersave="saveSecrets()">

				<h4>Client ID</h4>
				<div editable-text="organization.installed.client_id"
					e-name="client_id" e-required>{{organization.installed.client_id}}</div>

				<h4>Client Secret</h4>
				<div editable-text="organization.installed.client_secret"
					e-name="client_secret" e-required>{{organization.installed.client_secret}}</div>

				<div class="buttons pad-above">
					<!-- button to show form -->
					<button type="button" class="btn btn-default"
						ng-click="editSecrets.$show()" ng-show="!editSecrets.$visible">Edit</button>
					<!-- buttons to submit / cancel form -->
					<span ng-show="editSecrets.$visible">
						<button type="submit" class="btn btn-primary"
							ng-disabled="editSecrets.$waiting">Save</button>
						<button type="button" class="btn btn-default"
							ng-disabled="editSecrets.$waiting"
							ng-click="editSecrets.$cancel()">Cancel</button>
					</span>
				</div>

			</form>

		</div>
	</div>

</div>

<div google-chart chart="myChartObject"
	style="height: 600px; width: 100%;" ng-show="myChartObject.data"></div>

<pre ng-show="apiData">{{ apiData | json }}</pre>


