<div class="row">
	<div class="col-xs-4 col-sm-3 col-md-2">
		<input ng-model="query" class="form-control" placeholder="Search Here">
	</div>
	<div class="col-xs-8 col-sm-9 col-md-10">
		<div ng-repeat="organization in organizations | filter:query" class="row">
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/organization/{{organization.id}}" class="thumbnail"><img ng-src="{{organization.image}}" alt="{{organization.name}}"></a>
			</div>
			<div class="col-xs-8 col-sm-9 col-md-10">
				<h3><a href="#/organization/{{organization.id}}">{{organization.name}}</a></h3>
				<h4>{{organization.snippet}}</h4>
			</div>
		</div>
	</div>
</div>